@import url('../../../css/normalize.css');
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
/* font-family: 'Shadows Into Light', cursive; */
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* font-family: 'Lobster', serif; */
@import url(http://fonts.googleapis.com/css?family=Black+Ops+One);
/* font-family: 'Black Ops One', cursive; */
@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);
/* font-family: 'Holtwood One SC', serif; */

.navbar-toggle {
  border-color: black;
  background-color: rgba(16, 2, 5, 0.57);
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}

.alert {
	margin-top: 20px;
	display: none;
}

.text-centered { 
	text-align: center;
}

.clear{
  clear: both;
}

.disabled {
	border-color: #E8E8E8;
	color: #E8E8E8;
}
.displaynone {
	display: none;
}
/*************************************
		     Home Page
**************************************/

#mainContainer {
	margin-top: 20px;
}

/*********************************
		      Title
**********************************/

a#title {
	text-align: center;
	font-size: 35px;
	font-family: 'Holtwood One SC', serif;
	font-weight: bolder;
	letter-spacing: 10px;
	border: none;
	color: black;
}

.container > .page-header h2 {
	font-family: 'Holtwood One SC', serif;
	font-weight: bolder;
	letter-spacing: 10px;
}

/*********************************
		      Title
**********************************/

/*********************************
		  Navigation Bar
**********************************/
#navigation {
	background-color: #D8D8D8;
	font-weight: bold;
	font-family: 'Black Ops One', cursive;
	letter-spacing: 3px;
}
#navbarButton {
	border: 1px solid black;
	z-index: 2;
}
#navbarButton span {
	border: 1px solid black;
}
#navigation ul li {
	text-align: center;
	background-color: #E8E8E8;
}
ul#yourgroups li a, ul#rightmenu ul li a {
	background-color: #fff;
}
/*********************************
		  Navigation Bar
*********************************

/*********************************
		 	  Footer
**********************************/

.footer {
	margin-top: 50px;
	margin-bottom: 25px;
	width: 100%;
	height: 50px;
	background-color: #D8D8D8;
}

.footer h6 {
	padding-top: 20px;
}

/*********************************
		 	  Footer
**********************************/

/*************************************
		     Home Page
**************************************/

/*************************************
		    Groups Page
**************************************/

.groupdescription {
	position: relative;
	width: 85%;
	word-wrap: break-word;
}
.groupbuttons {
	position: absolute; 
	width: 15%;
	right: 0; 
	top: 10px; 
}

.groupbuttons a {
	width: 150px;
}

/* JOIN */
#joinMessage {
	width: 200px;
	margin-left: -40px;
	margin-bottom: 10px;
}
/* CANCEL */
.pendingButton:after {
	content: 'Pending';
}
.pendingButton:hover:after {
	content: 'Cancel';
}

/* PEOPLE */
#peoplePage {
	margin-top: 20px;
}

/*********************************
		   Pag
**********************************/

.pag ul li {
	list-style-type: none;
	display: inline;
	padding: 10px;
	text-align: center;
}

div.pag a, div.pag a.enabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;

	text-decoration: none; /* no underline */
	color: #000099;
}
div.pag a:hover, div.pag a:active {
	border: 1px solid #000099;
	color: #000;
	cursor: pointer;
}

div.pag a.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;

	pointer-events: none;
	color: #DDD;
}

div.pag a.activepage {
	border: 4px solid #000099;
}

/*********************************
		   Pag
**********************************/

/*************************************
		    Groups Page
**************************************/

/*************************************
		  View Groups Page
**************************************/

#successAlert {
	margin-top: 0px;
}

#groupname {
	font-size: 60px;
	font-family: 'Lobster', serif;
}
#groupname > small {
	font-size: 20px; 
	letter-spacing: 5px;
	font-family: 'Black Ops One', cursive;
}

#viewgroupcontent div.page-header > h2, #viewgroupcontent h3 {
	font-family: 'Lobster', serif;
	letter-spacing: 3px;
	font-size: 30px;
}

#viewgroupcontent div.page-header > h2 {
	font-size: 50px;
}

#viewgroupcontent h4, #viewgroupcontent p {
	font-family: 'Black Ops One', cursive;
	font-size: 17px;
	color: #0080FF;
}

#modalDelete {
	top: 200px;
}

.modal-body div {
	width: 150px;
	margin: 0 auto;
}

#editGroupName, #editGroupDescription {
	width: 200px;
	margin-left: -40px;
	margin-bottom: 10px;
}

#message {
	margin-top: 20px;
	margin-bottom: 20px;
}
	
#acceptSubmit {
	width: 100%;
	margin-left: 0;
	margin-bottom: 10px;
}
#refuseSubmit {
	width: 100%;
}

#pendings {
	width: 100%;
}
#pendings option{
	width: 100%;
}

/*************************************
		  View Groups Page
**************************************/
/*************************************
		    Profile Page
**************************************/

#leftSide {
	position: relative;
	border: 1px solid black;
}

#rightSide {
	position: relative;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#profilepic {
	position: relative;
	display: block;
	margin: 20px auto;
	width: 90%;
	height: auto;
	border: 10px solid grey;
	background-color: white;
}

#profilepersonalinfo {
	position: relative;
	margin: 30px auto;
	width: 90%;
}

#profilepersonalinfo a {
	display: block;
}

#profilepersonalinfo h3 {
	background-color: #2E9AFE;
	color: #E8E8E8;
	font-family: 'Black Ops One', cursive;
	font-size: 27px;
	padding: 10px 10px;
}

#profilepersonalinfo h4 {
	font-family: 'Holtwood One SC', serif;
	font-size: 17px;
	padding: 10px 20px;
}

#modalProfilePic img {
	width: 100%;
	height: 100%;	
	z-index: 1;
}


#modalProfilePic .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 50px;
	z-index: 2;
}

.bioHeader {
	background-color: #2E9AFE;
	color: #E8E8E8;

	padding: 30px 0;
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: 'Black Ops One', cursive;
	margin-top: 20px;	
}
.bioBody {
	font-family: 'Holtwood One SC', serif;
	padding: 30px 0;
	font-size: 18px;
}
/*************************************
		    Profile Page
**************************************/

/****************************
 	   Media Queries
*****************************/
/* Before Tablet */
@media (max-width: 1200px) {
	/* Group's Page */
	.groupdescription {
		width: 83%;
	}
	.groupbuttons {
		width: 17%;
	}
	/* Group's Page */
}

@media (max-width: 1024px) {

}

@media (max-width: 1015px) {
	a#title {
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	/* Group's Page */
	.groupdescription {
		width: 78%;
	}
	.groupbuttons {
		width: 22%;
	}
	/* Group's Page */
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	a#title {
		position: absolute;
		width: 100%;
		font-size: 30px;
	}
	ul#rightmenu ul li.divider, ul#yourgroups li.divider {
		display: none;
	}

	/* Group's Page */
	.groupbuttons a {
		width: 130px;
	}
	.groupTitle {
		font-size: 30px;
	}
	.groupList {
		font-size: 15px;
	}
	/* Group's Page */

	/* View Group's Page */
	#groupname {
		font-size: 50px;
	}
	#groupname > small {
		font-size: 15px; 
	}
	#viewgroupcontent div.page-header > h2, #viewgroupcontent h3 {
		font-size: 20px;
	}
	#viewgroupcontent div.page-header > h2 {
		font-size: 40px;
	}
	#viewgroupcontent h4, #viewgroupcontent p {
		font-size: 17px;
	}
	/* View Group's Page */
}	

@media (max-width: 620px) {
	/* Group's Page */
	.groupbuttons a {
		width: 100px;
		font-size: 11px;
		padding: 10px 15px;
	}
	/* Group's Page */

	/* View Group's Page */
	#viewgroupcontent div.page-header > h2, #viewgroupcontent h3 {
		font-size: 15px;
	}
	#viewgroupcontent div.page-header > h2 {
		font-size: 30px;
	}
	#viewgroupcontent h4, #viewgroupcontent p {
		font-size: 12px;
	}
	/* View Group's Page */
}

@media (max-width: 520px) {
	/* Group's Page */
	.groupTitle {
		font-size: 25px;
	}
	.groupList {
		font-size: 12px;
	}
	/* Group's Page */
}

/* Portrait & landscape phone */
@media (max-width: 480px) {
	a#title {
		font-size: 20px;
	}

	/* Group's Page */
	.groupbuttons a {
		font-size: 11px;
		padding: 5px 10px;
	}
	.groupdescription {
		width: 73%;
	}
	.groupbuttons {
		width: 27%;
	}
	.groupTitle {
		font-size: 20px;
	}
	.groupList {
		font-size: 11px;
	}
	/* Group's Page */

	/* View Group's Page */
	#viewgroupcontent div.page-header > h2 {
		font-size: 25px;
	}
	/* View Group's Page */
}

@media (max-width: 420px) {
	/* Group's Page */
	.groupdescription {
		width: 69%;
	}
	.groupbuttons {
		width: 31%;
	}
	.groupTitle {
		font-size: 18px;
	}
	.groupList {
		font-size: 11px;
	}
	/* Group's Page */

	/* View Group's Page */
	#viewgroupcontent div.page-header > h2, #viewgroupcontent h3 {
		font-size: 13px;
	}
	#viewgroupcontent div.page-header > h2 {
		font-size: 20px;
	}
	#viewgroupcontent h4, #viewgroupcontent p {
		font-size: 10px;
	}
	/* View Group's Page */
}

@media (max-width: 380px) {
	/* Group's Page */
	.groupbuttons a {
		width: 80px;
		font-size: 10px;
		padding: 5px 5px;
	}
	/* Group's Page */
}

@media (max-width: 350px) {
	a#title {
		font-size: 15px;
	}

	/* View Group's Page */
	#viewgroupcontent div.page-header > h2, #viewgroupcontent h3 {
		font-size: 12px;
	}
	#viewgroupcontent div.page-header > h2 {
		font-size: 18px;
	}
	#viewgroupcontent h4, #viewgroupcontent p {
		font-size: 8px;
	}
	/* View Group's Page */
}

@media (max-width: 320px) {

}

/****************************
 	   Media Queries
*****************************/
